*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
source/*/[Dd]ebug/
source/*/[Dd]ebugPublic/
source/*/[Rr]elease/
source/*/[Rr]eleases/
source/*/x64/
source/*/x86/
source/*/build/
source/*/bld/
source/*/[Bb]in/
source/*/[Oo]bj/
source/*/msbuild.log
source/*/msbuild.err
source/*/msbuild.wrn

# Visual Studio 2015
.vs/

#Others
\.idea/

*.blob
